header {
    width: 100%;
    min-width: 350px;
    height: 50px;
    background-color: #17181A;
    position: fixed;
    top: 0;
    user-select: none;
    z-index: 10;
    >.mobilemenu {
        display: block;
    }
    >.nameheader {
        position: absolute;
        left: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
        color: #FFFFFF;
        text-decoration: none;
    }
    >.corona {
        position: absolute;
        top: 0;
        right: 0;
        width: 68px;
        height: 50px;
        background-image: url('./image/corona.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    >nav {
        width: 300px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #2F3032;
            background-size: contain;
            transition: 0.3s all;
            &:nth-child(1) {
                background-image: url('./image/Mask\ group.png');
            }
            &:nth-child(2) {
                background-image: url('./image/Mask\ group-1.png');
            }
            &:nth-child(3) {
                background-image: url('./image/Mask\ group-2.png');
            }
            &:nth-child(4) {
                background-image: url('./image/zz.png');
            }
            &:nth-child(5) {
                background-image: url('./image/Mask\ group-4.png');
            }
            &:nth-child(6) {
                background-image: url('./image/Group\ 74.png');
                >a {
                    &:nth-child(1) {
                        display: block;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    @media (max-width: 1000px) {
                        &:nth-child(1) {
                            display: none;
                        }
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
            &:hover,
            &.active {
                background-color: white;
            }
            &:nth-child(6):hover {
                background-color: #2F3032;
                @media (min-width: 1000px) {
                    background-image: url('./image/Mask\ group-6.png');
                }
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    @media (max-width: 700px) {
        height: 70px;
        position: absolute;
        >nav {
            display: none;
        }
        .corona {
            top: 10px;
            right: 10px;
            width: 68px;
            height: 50px;
        }
        >.nameheader {
            position: absolute;
            line-height: 70px;
            left: calc(50% - 74px);
        }
        >.mobilemenu {
            z-index: 2;
            display: block;
            position: fixed;
            top: 10px;
            left: 20px;
            width: 50px;
            height: 100px;
            transition: 0.5s;
            border-radius: 25px;
            >.button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #17181A;
                margin-bottom: 10px;
                position: relative;
                >div {
                    position: absolute;
                    top: 15px;
                    left: 12px;
                    width: 26px;
                    height: 2px;
                    transition: 0.5s all;
                    background-color: white;
                    &:nth-child(2) {
                        top: 24px;
                        opacity: 1;
                    }
                    &:nth-child(3) {
                        top: auto;
                        bottom: 15px;
                    }
                }
            }
            .contei {
                position: relative;
                height: 0px;
                transition: 0.5s;
                width: 70px;
                border-radius: 0 0 25px 25px;
                overflow: hidden;
                transform: translateX(-10px);
                >div {
                    position: absolute;
                    top: 0;
                    left: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    transition: 0.5s top;
                    background-size: contain;
                    background-color: #161616;
                    background-repeat: no-repeat;
                    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
                    &:nth-child(1) {
                        top: -360px;
                        background-image: url('./image/Mask\ group.png');
                    }
                    &:nth-child(2) {
                        top: -300px;
                        background-image: url('./image/Mask\ group-1.png');
                    }
                    &:nth-child(3) {
                        top: -240px;
                        background-image: url('./image/Mask\ group-2.png');
                    }
                    &:nth-child(4) {
                        top: -190px;
                        background-image: url('./image/Mask\ group-3.png');
                    }
                    &:nth-child(5) {
                        top: -120px;
                        background-image: url('./image/Mask\ group-4.png');
                    }
                    &:nth-child(6) {
                        top: -60px;
                        background-image: url('./image/Group\ 59.png');
                    }
                    &.active {
                        background-color: #fff;
                    }
                    >a {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }
        &.active {
            >.mobilemenu {
                height: 420px;
                .contei {
                    height: 360px;
                    >div {
                        &:nth-child(1) {
                            top: 10px;
                        }
                        &:nth-child(2) {
                            top: 70px;
                        }
                        &:nth-child(3) {
                            top: 130px;
                        }
                        &:nth-child(4) {
                            top: 190px;
                        }
                        &:nth-child(5) {
                            top: 250px;
                        }
                        &:nth-child(6) {
                            top: 310px;
                        }
                    }
                }
                .button {
                    >div {
                        &:nth-child(1) {
                            top: 24px;
                            transform: rotate(-225deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                            transition: 0s all;
                        }
                        &:nth-child(3) {
                            bottom: 24px;
                            transform: rotate(225deg);
                        }
                    }
                }
            }
        }
    }
}