.stolbik {
  width: 15px;
  height: 258px;
  margin-left: 20px;
  position: relative;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(120, 112, 110, 0.35) 100%);
}
.stolbik canvas {
  position: absolute;
  top: 0;
  left: -27px;
  width: 35px;
  height: 258px;
}
.stolbik .moneta {
  position: absolute;
  top: 80px;
  left: -4.5px;
  width: 24px;
  height: 24px;
  background-image: url("./moneta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-12px);
}
.stolbik .moneta .trin {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 7px;
  top: -15px;
  background-image: url("./Polygon 2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.stolbik .moneta p {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: -35px;
  left: -12px;
  width: 50px;
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: white;
}
.stolbik .label {
  display: none;
}
.stolbik.long {
  height: 273px;
}
.stolbik.long .label {
  display: block;
  position: absolute;
  bottom: -20px;
  left: -43px;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #b0b0b0;
}
.stolbik:hover .moneta .trin,
.stolbik:hover .moneta p {
  opacity: 1;
  z-index: 3;
}
.stolbik:hover .moneta p {
  text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}