@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

body {
  scrollbar-width: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  width: 0px;
  /* ширина scrollbar */
}